<div class="navbar-toggle-button" id="navbar-toggle">
  <div class="one"></div>
  <div class="two"></div>
  <div class="three"></div>
</div>
<nav class="vertical-menu" id="menu">
   <%= image_tag "lucas-cut.png", class: "profile-image" %>

  <div class="vertical-menu-links">
    <%= link_to '<i class="fa fa-home"></i>'.html_safe, home_path %>
    <%= link_to '<i class="fa fa-user"></i>'.html_safe, about_path %>
  </div>

  <div class="navbar-containers">
  
    <div onclick="togglePosts()" class="dropbtn navbar-posts">
      <i class="fa fa-folder navbar-posts-folder"></i> Posts <i class="fa fa-angle-down"></i>
    </div>
    <div id="myDropdown" class="dropdown-content">
    <% navbar_posts.each do |post| %> 
      <div class="dropdown-element">
        <%= image_tag subcategory_icon(post.subcategory_id), class: 'post-icon' %>
        <%= link_to post.title, post_path(post) %>
       </div>
    <% end %>
    </div>
  </div>
</nav>