<nav>
	<div class="nav-fostrap">
		<ul>
			<li> <%= link_to 'HOME', home_path, class: 'nav-fostrap-link' %> </li>
			<li> <%= link_to 'SOBRE NÓS', about_path, class: 'nav-fostrap-link' %> </li>
			<li> <%= link_to 'POSTS', posts_path, class: 'nav-fostrap-link' %> </li>

			<% if logged_in? %>
				Bem vindo: <%= current_user.name %>
				<li> <%= link_to 'Painel', managements_index_path, class: 'nav-fostrap-link' %> </li>
				<li> <%= link_to 'Account', perfil_path, class: 'nav-fostrap-link' %> </li>
				<li> <%= link_to 'Sair', logout_path, class: 'nav-fostrap-link' %> </li>
			<% end %>
		</ul>
	</div>
	<div class="nav-bg-fostrap">
		<div class="navbar-fostrap"> 
			<span style="background-color: dodgerblue"></span style="background-color: dodgerblue"> <span style="background-color: dodgerblue"></span> <span style="background-color: dodgerblue"></span> 
		</div>
		<a class="title-mobile">APRENDE SIM</a>
</div>
</nav>
<div class='content'>
</div>
</div>
</div>

<script>

	$(document).ready(function(){
		$('.navbar-fostrap').click(function(){
			$('.nav-fostrap').toggleClass('visible');
			$('body').toggleClass('cover-bg');
		});
	});

</script>