<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<% if @author.photo != '' && @author.photo != nil %>
  <%= image_tag @author.photo, class: 'author-photo' %>
<% else %>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @author.description %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
