<div class="post-form">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title %>
      </br>
      <%= form.text_field :title, id: :post_title, placeholder: 'Título',class: 'post-form-small-field' %>
    </div>

     </br>
      <%= form.label "Author" %>
      </br>
      <%= form.select :author_id, @authors.collect {|a| [a.name, a.id]}, {}, { id: 'select-author', class: 'post-form-small-field' } %>
    </br>

    </br>
      <%= form.label "Category" %>
      </br>
      <%= form.select :category_id, @categories.collect {|c| [c.name, c.id]}, {}, { id: 'select-category', class: 'post-form-small-field' } %>
    </br>

    </br>
      <%= form.label "Subcategory" %>
      </br>
      <%= form.select :subcategory_id, @subcategories.collect {|s| [s.name, s.id]}, {}, { class: 'post-form-small-field' } %>
    </br>
    </br>

    <div class="field">
      <%= form.label :front_image %>
      </br>
      <%= form.text_field :front_image, id: :post_front_image, placeholder: '279px (largura/width) x 159 px(altura/width)', class: 'post-form-small-field' %>
    </div>
    </br>

    <div class="field">
      <%= form.label :image_name %>
      </br>
      <%= form.text_field :image_name, id: :post_image_name, placeholder: 'Nome da imagem', class: 'post-form-small-field' %>
    </div>
    </br>

    <div class="field">
      <%= form.label :url %>
      </br>
      <%= form.text_field :url, id: :post_url, placeholder: 'URL', class: 'post-form-small-field' %>
    </div>
    </br>

    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body, id: :post_body, value: @body_value, class: 'post-form-body' %>
    </div>
    </br>

    <div class="field">
      <%= form.label :intro_text %>
      <%= form.text_area :intro_text, id: :post_intro_text, placeholder: 'Texto de introdução', class: 'post-form-intro-body' %>
    </div>
    </br>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $("#select-category").change(function() {
    let id_value = $("#select-category").val();
    console.log("valor do select = " + id_value);
  });
</script>
