<div class="posts-all-container">
	<div class="side posts-all-subcontainer">
		<% @posts.each do |post| %>
			<div class="single-post">
				<h3> <%= link_to post.title, post_path(post), class: 'posts-all-title' %> </h3>
				<% if post.front_image != '' && post.front_image != nil %>
					<%= image_tag post.front_image, class: 'post-front-image' %>
				<% else %> <% end %>
				<div class="posts-all-intro">
					<%= post.created_at.strftime("%d/%m/%Y") %> <br>
					<%= link_to post.intro_text, post_path(post), class: 'posts-all-intro' %> <%= link_to "Leia mais . . .", post_path(post), class: 'post-categories-name' %> <br><br>
					<div class="posts-all-visits"> Visitas: <%= post.visits %> </div>
				</div>
		    <% if logged_in? %>
		      <%= link_to 'Edit', edit_post_path(post) %>
		      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
		    <% end %>
			</div>
		<% end %>
	</div>

	<div class="side post-right-bar">
		<div class="right-bar-categories">
			<h4> CATEGORIAS </h4>
			<% @categories.each do |category| %>
				<%= link_to category.name, subcategories_show_all_path(category), class: 'post-categories-name' %>
				<br>
			<% end %>
		</div>
		<div class="posts-most-views">
			<h4> MAIS VISTOS </h4>
			<% @posts_most_views.each do |post_views| %>
				<%= link_to post_views.title, post_path(post_views), class: 'post-views-title' %>
				<br>
			<% end %>
		</div>
	</div>
</div>