<!DOCTYPE html>
<html>
  <head>
    <title>Aprende Sim</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107098119-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-107098119-1');
    </script>
  </head>
  <body class="application-body">
  	<%= render 'navbar/navbar' %>
    <div class="body-container">
      <%= yield %>
    </div>
    <footer>
      <%= render 'pages/footer'%>
    </footer>
  </body>
</html>
